<table border="0" style="background-color: #fff; padding: 5px;" cellspacing="0">
<tr>
<td>
  <img src="http://groups.google.com/intl/ja/images/logos/groups_logo_sm.gif" height="30"
 width=149 alt="Google グループ">
  </td>
</tr>
<tr>
<td style="padding-left: 5px"> <b>日本Scalaユーザーズグループに参加</b> </td>
</tr>
<form action="http://groups.google.com/group/scala-jp/boxsubscribe">
  <input type="hidden" name="hl" value="ja"></p>
<tr>
<td style="padding-left: 5px;"> メール: <input type="text" name="email"><br />
  <input type="submit" name="sub" value="登録">
  </td>
</tr>
</form>
<tr>
<td align="right"> <a href="http://groups.google.com/group/scala-jp?hl=ja">このグループに
アクセス</a> </td>
</tr>
</table>
