<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="## ディスクリプション ##">
    <meta name="keywords" content="## キーワード ##">
    <meta name="robots" content="index,follow">
    <meta name="copyright" content="## 著作権 ##">
    <meta name="author" content="## 著作者 ##">
    <meta http-equiv="X-UA-Compatible" content="IE=9"/>
    <title>{{ page.title }} - {{ site.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ page.root }}/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{{ page.root }}/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="{{ page.root }}/css/main.css" rel="stylesheet" media="screen">
</head>
<body>
<div class="container">
    <a href="{{ page.root }}/">
        <img class="logo" src="{{ page.root }}/img/scalajp_logo.png" alt="日本Scala ユーザーグループロゴ(ScalaJP)">
    </a>

    <div class="row-fluid">
        <div class="span3">
            <ul class="nav nav-list">
            </ul>
        </div>
        <div class="span9">
            {{ content }}
	    <hr>
	    {% include disqus.html %}
        </div>
    </div>
</div>
<footer class="footer">
    <address>Copyright&copy; Japan Scala Users Group All Rights Reserved.</address>
    <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="クリエイティブ・コモンズ・ライセンス" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br />この <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" rel="dct:type">Webサイト</span> は <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">クリエイティブ・コモンズ 表示 4.0 国際 ライセンスの下に提供されています。</a>
</footer>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="{{ page.root }}/bootstrap/js/bootstrap.min.js"></script>
</body>
